---
import RadhaPhoto from "../assets/Radha-photo.jpg";
import Resume from "../assets/Radha-Resume.pdf";
---

<section
  class="my-16 flex flex-col items-center justify-center gap-16 pt-24"
  id="about"
>
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-4xl font-semibold">About Me</h2>
    <p class="text-[var(--text-color)]">My introduction</p>
  </div>
  <div class="w-full grid grid-cols-[0.7fr_1fr]">
    <div class="w-[400px] h-[300px]">
      <img
        src={RadhaPhoto.src}
        alt=""
        class="w-[400px] h-full object-cover rounded-xl brightness-110 contrast-105"
      />
    </div>
    <div class="flex flex-col gap-16 text-[var(--text-color)] items-center">
      <p class="flex-wrap text-xl text-center tracking-wider">
        I'm a Web Developer with a background in Supply Chain Analysis, blending
        problem-solving with creative web solutions. My passion for building
        user-friendly applications led me to transition into tech. I earned a
        Software Engineering diploma from BrainStation, where I won first place
        in the BrainStation x Microsoft Industry Project for developing
        Co-Teacher, an AI-powered educational assistant. I thrive on front-end
        development, UI/UX design, and crafting scalable applications.
      </p>
      <div class="flex gap-32">
        <div class="flex items-center flex-col">
          <p class="text-center font-bold text-3xl text-[var(--title-color)]">
            2+
          </p>
          <p>Years experience</p>
        </div>
        <a
          class="bg-[var(--first-color-alt)] px-4 py-2 rounded-md text-white w-fit cursor-pointer flex items-center gap-2 shadow-bottom"
          href="./Radha-Resume.pdf"
          download
        >
          Download CV <i class="uil uil-download-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
