---
import RadhaPhoto from "../assets/Radha-photo.jpg";
import Resume from "../assets/Radha-Resume.pdf";
---

<section
  class="my-16 flex flex-col items-center justify-center gap-16 pt-24"
  id="about"
>
  <div class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-4xl font-semibold">About Me</h2>
    <p class="text-[var(--text-color)]">My introduction</p>
  </div>
  <div class="w-[80%] grid grid-cols-2 gap-24">
    <div class="w-[400px] h-[300px]">
      <img
        src={RadhaPhoto.src}
        alt=""
        class="w-[400px] h-full object-cover rounded-xl brightness-110 contrast-105"
      />
    </div>
    <div class="flex flex-col gap-16 text-[var(--text-color)] items-center">
      <p class="flex-wrap text-xl text-center tracking-wider">
        I'm a passionate Web Developer with a background in Supply Chain
        Analysis, bringing a unique blend of data-driven problem-solving and
        creative web solutions to the table. My transition into tech was fueled
        by my love for building intuitive, user-friendly applications that make
        an impact. I recently completed a Software Engineering diploma at
        BrainStation, where I honed my skills in React, Next.js, TypeScript,
        Node.js, and Tailwind CSS. Along the way, I participated in hackathons,
        including the BrainStation x Microsoft Industry Project, where my team
        won first place for building Co-Teacher—an AI-powered educational
        assistant. I'm particularly passionate about front-end development,
        UI/UX design, and creating scalable, efficient applications. Whether
        it's developing interactive interfaces, optimizing performance, or
        solving complex challenges, I thrive on bringing ideas to life through
        code. Currently, I’m looking for opportunities to grow as a developer
        and collaborate on meaningful projects that drive innovation.
      </p>
      <div class="flex gap-32">
        <div class="flex items-center flex-col">
          <p class="text-center font-bold text-3xl text-[var(--title-color)]">
            2+
          </p>
          <p>Years experience</p>
        </div>
        <a
          class="bg-[var(--first-color-alt)] px-4 py-2 rounded-md text-white w-fit cursor-pointer flex items-center gap-2 shadow-bottom"
          href="./Radha-Resume.pdf"
          download
        >
          Download CV <i class="uil uil-download-alt"></i>
        </a>
      </div>
    </div>
  </div>
</section>
