---
import RadhaPhoto from "../assets/Radha-photo.jpg"
---
<section class="max-w-[1280px] mx-auto p-8 mt-16 flex flex-col items-center justify-center gap-16">
    <div>
    <h2 class="text-3xl">About Me</h2>
    <p>My introduction</p>
</div>
<div class="flex items-center justify-center gap-16">
    <img src={RadhaPhoto.src} alt="" class="w-80 h-60 object-cover rounded-xl">
    <div>
        <p>Supply chain analyst turned Software Engineer </p>
        <p>Supply chain analyst turned Software Engineer </p>
        <p>Supply chain analyst turned Software Engineer </p>
        <p>Supply chain analyst turned Software Engineer </p>
    </div>
</div>
</section>