---

---

<section class="bg-[var(--first-color)] p-8" id="contact">
  <div
    class="max-w-[1280px] mx-auto flex items-center justify-center flex-col gap-4"
  >
    <p class="text-white text-4xl font-sans border-b-2 border-white pb-1">
      Find me at
    </p>

    <ul class="flex gap-8 items-center justify-center">
      <li>
        <a href=""><i class="uil uil-envelope-alt text-white text-4xl"></i></a>
      </li>
      <li>
        <a href=""><i class="uil uil-linkedin text-white text-4xl"></i></a>
      </li>
      <li><a href=""><i class="uil uil-github text-white text-4xl"></i></a></li>
    </ul>
  </div>
</section>
