---

---

<section class="bg-[var(--first-color)] px-8 pt-8" id="contact">
  <div class="max-w-[1280px] mx-auto flex flex-col items-center justify-center">
    <div
      class="max-w-[1280px]
    mx-auto
    flex
    items-center
    justify-center
 mb-8
    gap-16"
    >
      <p class="text-white text-4xl font-sans">Find me at</p>

      <ul class="flex gap-8 items-center justify-center">
        <li>
          <a href="https://www.linkedin.com/in/radha-rani-n/" target="_blank"
            ><i class="uil uil-linkedin text-white text-4xl"></i></a
          >
        </li>
        <li>
          <a href="https://github.com/radha-rani-n" target="_blank"
            ><i class="uil uil-github text-white text-4xl"></i></a
          >
        </li>
      </ul>
    </div>

    <div class="w-full h-[1px] bg-[var(--first-color-lighter)]"></div>
    <p class="text-white text-sm p-4">
      &copyCopyright 2025. Made by Radha Rani Nathibayannagri
    </p>
  </div>
</section>
