---
import "../styles/global.css";
---



<header class="bg-white fixed w-screen z-10 border-b-1 border-[#b3add4] font-medium">
   <section class="flex items-center justify-between max-w-[1280px] p-8 mx-auto">
    <h1 class="text-3xl">Radha</h1>
    <nav>
        <ul class="flex items-center justify-center gap-12">
            <li class="text-xl hover:text-[var(--first-color)] cursor-pointer">Home</li>
            <li class="text-xl hover:text-[var(--first-color)]">About</li>
            <li class="text-xl hover:text-[var(--first-color)]">Skills</li>

            <li class="text-xl hover:text-[var(--first-color)]">Projects</li>
            <li class="text-xl hover:text-[var(--first-color)]">Contact</li>
        </ul>
    </nav>
   </section></header>
   
   