---
import "../styles/global.css";
---



<header class="bg-amber-50 fixed w-screen z-10 border-b-1">
   <section class="flex items-center justify-between max-w-[1280px] p-8 mx-auto">
    <h1 class="text-3xl">Radha</h1>
    <nav>
        <ul class="flex items-center justify-center gap-12">
            <li class="text-xl">Home</li>
            <li class="text-xl">About</li>
            <li class="text-xl">Skills</li>

            <li class="text-xl">Projects</li>
            <li class="text-xl">Contact</li>
        </ul>
    </nav>
   </section></header>
   
   