---
import "../styles/global.css";
---

<header
  class="bg-white fixed w-screen z-100 border-b-1 border-[#b3add4] font-medium shadow-bottom h-24 font-sans"
>
  <section class="flex items-center justify-between max-w-[1280px] p-8 mx-auto">
    <h1 class="text-2xl cursor-pointer">Radha</h1>
    <nav>
      <ul class="flex items-center justify-center gap-12">
        <li class="text-xl hover:text-[var(--first-color)] cursor-pointer">
          <a href="#">Home</a>
        </li>
        <li class="text-xl hover:text-[var(--first-color)]">
          <a href="#about">About</a>
        </li>
        <li class="text-xl hover:text-[var(--first-color)]">
          <a href="#">Skills</a>
        </li>

        <li class="text-xl hover:text-[var(--first-color)]">
          <a href="#">Projects</a>
        </li>
        <li class="text-xl hover:text-[var(--first-color)]">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
