---
import RadhaPhoto from "../assets/headshot_processed.jpg";
import RadhaImage from "../assets/Radha-photo.jpg";
---

<section class="flex justify-center h-screen items-center" id="home">
  <div class="mt-24 flex items-center justify-items-start gap-32">
    <article>
      <ul class="flex flex-col gap-8">
        <li>
          <a href="https://www.linkedin.com/in/radha-rani-n/" target="_blank"
            ><i
              class="uil uil-linkedin-alt text-3xl text-[var(--first-color-alt)] hover:bg-[var(--first-color)] hover:text-white p-2 rounded-full"
            ></i></a
          >
        </li>
        <li>
          <a href="https://github.com/radha-rani-n" target="_blank"
            ><i
              class="uil uil-github-alt text-[var(--first-color-alt)] text-3xl hover:bg-[var(--first-color)] hover:text-white p-2 rounded-full"
            ></i></a
          >
        </li>
      </ul>
    </article>
    <article class="flex flex-col gap-4">
      <h2 class="text-5xl font-bold">Hi, I'am Radha</h2>
      <p class="text-[var(--text-color)] text-xl">Software developer</p>
      <p class="text-[var(--text-color)] flex-wrap">
        I create enjoyable web experiences that solve client problems. As a
        front-end-focused web developer, I specialize in crafting intuitive,
        user-friendly interfaces that enhance usability and contribute to a
        product's success.
      </p>
      <button
        class="bg-[var(--first-color-alt)] px-4 py-3 rounded-md text-white w-fit cursor-pointer shadow-bottom"
        ><a href="#contact">Contact Me</a>
        <i class="uil uil-message"></i></button
      >
    </article>
    <div>
      <svg
        viewBox="0 0 200 187"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="w-72"
      >
        <!-- Define Mask -->
        <mask id="mask0" mask-type="alpha">
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.547 165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            fill="white"></path>
        </mask>

        <!-- Group with Mask Applied -->
        <g mask="url(#mask0)">
          <!-- Shape Background -->
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.547 165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            fill="#6E57E0"></path>

          <!-- Image inside Mask -->
          <image
            xlink:href={RadhaPhoto.src}
            x="20"
            y="30"
            width="160"
            height="160"
            preserveAspectRatio="xMidYMid slice"
          />
        </g>
      </svg>
    </div>
  </div>
</section>
