---
import Projects from "../components/Projects.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
---

<main class="max-w-[1280px] p-8 mx-auto">
  <Home />
  <About />
  <Skills />
  <Projects />
</main>
