---
import "../styles/global.css"
import React from "../assets/react.svg"
import Html from "../assets/html5.svg"
import Css from "../assets/css.svg"
import Sass from "../assets/sass.svg"
import Mui from "../assets/mui.svg"
import Antd from "../assets/antdesign.svg"
import Mysql from "../assets/mysql.svg"
import Express from "../assets/express.svg"
import Git from "../assets/git.svg"
import Github from "../assets/github.svg"
import Knex from "../assets/knexdotjs.svg"
import Node from "../assets/nodedotjs.svg"
import Tailwind from "../assets/tailwindcss.svg"
import Typescript from "../assets/typescript.svg"
import Astro from "../assets/astro.svg"
import Skill from "../components/Skill"

const skills=[
    {
        name:"Html", src:Html,
    },
    {
        name:"Css", src:Css,
    },
    {
        name:"React", src:React,
    },
    {
        name:"Sass", src:Sass,
    },
    {
        name:"Typescript", src:Typescript,
    },
    {
        name:"Tailwind", src:Tailwind,
    },
    {
        name:"Knex", src:Knex,
    },
    {
        name:"Mysql", src:Mysql,
    },
    {
        name:"Express", src:Express,
    },
    {
        name:"Node", src:Node,
    },
    {
        name:"Mui", src:Mui,
    },
    {
        name:"Antd", src:Antd,
    },
    {
        name:"Git", src:Git,
    },
    {
        name:"Github", src:Github,
    }
    ,
    {
        name:"Astro", src:Astro,
    }
  
]

---
<section class="max-w-[1280px] mx-auto p-8 flex flex-col items-center justify-center gap-16 my-16">
    <h2 class="text-4xl font-bold">Skills</h2>
    
    <div class="flex gap-4 flex-wrap">
     {skills.map(skill=>( <Skill src={skill.src} skillName={skill.name} client:load/>))}  
       
   </div>
 
  
  
   
</section>